.modal-eliminar {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-contenido {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 90%;
    position: relative;
    font-family: 'Segoe UI', sans-serif;
}

    .modal-contenido h2 {
        font-size: 20px;
        margin-bottom: 25px;
        color: #222;
    }

.botones {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.btn-eliminar {
    background: linear-gradient(to right, #7b2ff7, #4facfe);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

    .btn-eliminar:hover {
        opacity: 0.9;
    }

.btn-cancelar {
    background: #f2f2f2;
    border: 1px solid #ccc;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

    .btn-cancelar:hover {
        background: #e0e0e0;
    }

.cerrar-modal {
    position: absolute;
    top: 12px;
    right: 15px;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #777;
}
