.modal-editar {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-contenido {
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', sans-serif;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

    .modal-header h3 {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
    }

.cerrar {
    font-size: 22px;
    cursor: pointer;
    color: #333;
}

form label {
    font-weight: 500;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 10px 15px;
    background: #f4f4f6;
    border: none;
    border-radius: 12px;
    outline: none;
    font-size: 14px;
}

.btn-guardar {
    margin-top: 25px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg, #6e8efb, #a777e3);
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
